.models-container {
  padding-bottom: 16px;
  inset-block-start: 0;
  outline: 2px solid #fff;
}
.individual-items:hover{
  background-color: rgba(128, 128, 128, 0.199);
  border-radius: 4px;
  transition: background-color .1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.close-icon-container {
  padding-top: 1.125rem;
  padding-bottom: 16px;
  margin-bottom: 2px;
  z-index: 100;
}
.individual-cars-container {
  list-style: none;
  max-inline-size: 22rem;
  inline-size: 100%;
  border-radius: 0.5rem;
}
.individual-cars-button {
  inline-size: 100%;
  margin: 0;
  border-radius: 0.5rem;
  padding: 0;
  border: none;
}
.cars-container {
  border-radius: 0.5rem;
  padding: 20px;
  margin: 0;
  transition: background 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.modelname-container {
  color-scheme: light dark;
}
.car-models-container {
  padding: 0;
  place-items: center;
  gap: 12px;
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
}
.modelname {
  font: clamp(1.13rem, 0.21vw + 1.08rem, 1.33rem) "semi-bold";
}
.carImage-container {
  margin-top: 4px;
  inline-size: 100%;
  aspect-ratio: 160 / 47;
}
.carImgae {
  inset-block-start: 0;
  inset-block-end: 0;
  block-size: 100%;
  /* padding-right: 0.75rem; */
  inline-size: calc(100% - 0.75rem);
}
.carImage-img {
  block-size: auto;
  transition: transform .3s ease;
  inline-size: 100%;
  transition: transform 0.24s cubic-bezier(0.25, 0.1, 0.25, 1);
  backface-visibility: hidden;
  z-index: 100;
}
.cartype-container {
  margin-top: 8px;
  block-size: 30px;
}
.tag-container {
  padding-right: 4px;
}
.tag-container span {
  position: relative;
  display: flex;
  gap: 2px;
  padding: 1px 6px;
  border-radius: 4px;
  font: normal normal 400 clamp(0.81rem, 0.23vw + 0.77rem, 0.88rem) /
    calc(6px + 2.125ex) "reg";
  color: #010205;
  background: #fff;
  transition: color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1),
    background-color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1),
    backdrop-filter 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.individual-lists{
  padding-block-end: 4rem;
}
.individual-unorderedlist{
  padding: 0;
  margin: 0;
}
.cat-lists:first-child{
  padding-block-start: 0px;
}
.cat-lists{
  text-decoration: none;
    color: inherit;
    border-radius: 4px;
    padding-inline: 11px;
    font-family: "reg";
    font-size: 1.25rem;
    padding-block-start: clamp(21px, 1.25vw + 12px, 36px);
    transition: background-color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.carImage-img:hover{
  transform: translateX(10px);
}
@media (min-width:760px) {
  
  .car-models-container{
    gap: 0;
  }
  .models-container{
    margin-block-start: 80px;
    outline: none;
    background: transparent;
  }
  .individual-cars-button{
    border-radius: 0;
  }
  .category-container{
    box-sizing: border-box;
    block-size: 5.75rem;
    padding-block-start: 2.625rem;
  }
  .individual-items{
        margin-block-start: 25px;
    padding-block: 9px;
  }
}