:root {
  --mobile-header-height: 66px;
  --grid-column-header: max(22px, 10.625vw - 12px);
  --pcom-expected-p-link-height: 54px;
  --pcom-cta-padding-top: var(--hero-grid-med-height);
  --hero-grid-medium-height: calc( var(--pcom-cta-padding-top) + var(--pcom-expected-p-link-height));
  --grid-internal-safe-zone: max(22px, 10.625vw - 12px);
   --hero-grid-med-height: clamp(16px, 1.25vw + 12px, 36px);
}
@font-face {
    font-family: "reg";
    src: url("../../assets/porsche-next-latin-regular.b8f1c20.woff2");
}
@font-face {
    font-family: "semi-bold";
    src: url("../../assets/porsche-next-latin-semi-bold.b5f6fca.woff2");
}
body {
  background-color: rgb(255, 255, 255); /* will change */
  font-weight: 400;
  margin: 0;
  padding: 0;
  animation: fade-to-white 1.2s cubic-bezier(0.4, 0, 0.5, 1) forwards;
}
body, h1, h2, h3, h4, h5, h6, ol, p, ul {
    font-weight: 400;
    margin: 0;
    padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "semi-bold";
  line-height: calc(6px + 2.125ex);
  letter-spacing: normal;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
body {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}
/* @fade-to-white {
  0% {
    background-color: #0e0e12;
  }

  100% {
    background-color: #fff;
  }
} */
@keyframes heroUpAnimation {
    
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}